.hero-section {
    /* Llama a tu imagen */
    background-image: url('../img/main.jpeg');
    
    /* cover: Obliga a la imagen a escalar hasta cubrir todo el ancho y alto del contenedor sin deformarse (recorta lo sobrante) */
    background-size: cover;
    
    /* center: Asegura que el punto focal de la imagen sea el centro, así si se recorta, las personas siguen viéndose */
    background-position: center;
    
    /* Evita que la imagen se repita como un mosaico si la pantalla es muy grande */
    background-repeat: no-repeat;
    
    /* min-height: Define una altura mínima. 70vh significa que ocupará el 70% de la altura de la pantalla del dispositivo (celular o PC) */
    min-height: 70vh;
    
    /* Asegura que tome todo el ancho disponible */
    width: 100%;
}

/* 1. Cambiar el fondo del menú lateral */
#menuLateral {
  background-color: #1A1A1A !important;
}

/* 2. Color del texto del título de RectaBags */
#menuLateral .offcanvas-title {
  color: #FFFFFF;
}

/* 3. Estilo para los enlaces INACTIVOS (Catálogo, Blog, Contacto) */
#menuLateral .nav-link {
  color: #A3A3A3 !important;
  border-radius: 4px; /* Bordes ligeramente redondeados */
  margin-bottom: 5px;
}

/* 4. Efecto al pasar el mouse por encima de los enlaces inactivos */
#menuLateral .nav-link:hover {
  color: #FFFFFF !important;
  background-color: rgba(255, 255, 255, 0.05); /* Un brillito muy sutil */
}

/* 5. Estilo para el enlace ACTIVO (Inicio - El Verde Oliva) */
#menuLateral .nav-pills .nav-link.active {
  background-color: #556040 !important;
  color: #FFFFFF !important;
}